:root {
    --text: #ffffff;
    --alt-text: #000000;
    --background: #2c3639;
    --primary-button: #dcd7c9;
    --secondary-button: #3f4e4f;
    --accent: #a27b5c;
    --nav-img-height: calc(100vw * (350 / 2560));
    --nav-item-height: calc(var(--nav-img-height) * ((250 / 350)));
    --nav-item-font-size: clamp(1rem, 1.6vw, 2rem);
    --nav-grid-gap: calc(100vw * (350 / 2560));
    --content-margin-top: calc(var(--nav-img-height) * ((100 / 350)));
    --content-header-font-size: clamp(2rem, 3vw, 3rem);
    --content-text-font-size: clamp(1rem, 1.3vw, 1.5rem);
}

body {
    background-color: var(--background);
    font-family: 'Quattrocento', sans-serif;
    font-size: var(--content-text-font-size);
    line-height: 1.8rem;
    word-spacing: 0.2rem;
    margin: 0;
    padding: 0;
}

nav {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--nav-grid-gap);
}

#NavImg {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10;
    image-rendering: crisp-edges;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

nav ul a {
    padding: 0;
    text-decoration: none;
}

#content-container {
    box-sizing: border-box;
    width: calc(100% - clamp(10rem, 20%, 20rem));
    height: 100%;
    padding: 2rem 5rem;
    margin: auto;
    margin-top: var(--content-margin-top);
}

#product-container {
    box-sizing: border-box;
    width: calc(100% - clamp(5rem, 10%, 10rem));
    height: 100%;
    padding: 2rem 5rem;
    margin: auto;
    margin-top: var(--content-margin-top);
}

.NavItem {
    box-sizing: border-box;
    font-size: var(--nav-item-font-size);
    text-decoration: none;
    text-align: center;
    height: var(--nav-item-height);
    width: 100%;
    color: var(--alt-text);
    margin: 0;
    line-height: calc(var(--nav-img-height) * (250 / 350));
}

a .NavItem:hover {
    text-decoration: underline dashed;
    text-decoration-color: var(--background);
}

.TextBox {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text);
    padding: 1rem 6rem;
    text-align: center;
}

.TextBox h1 {
    font-weight: normal;
    font-size: var(--content-header-font-size);
}

.TextBox h2 {
    font-weight: normal;
}

.TextBox h3 {
    font-weight: normal;
}

.TextBox ul {
    display: flex;
    flex-direction: column;
    list-style-type: square;
    width: fit-content;
}

.TextBox ul li {
    display: list-item;
    text-align: left;
    padding: 5px 10px;
    width: fit-content;
}

button {
    background-color: var(--primary-button);
    color: var(--alt-text);
    border: none;
    padding: 1rem 1.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease;
    transition-property: transform;
    font-family: 'Quattrocento', sans-serif;
    font-size: var(--content-text-font-size);
}

button:hover {
    transform: translateY(-0.2rem);
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

.product-card {
    margin: 12px;
}

.product-card a {
    text-decoration: none;
}

.product-card a:hover h2 {
    text-decoration: underline dashed var(--accent);
}

.product-card-inner {
    box-sizing: border-box;
    background-color: var(--secondary-button);
    color: var(--text);
    padding: 1rem;
    height: 100%;
}

.product-title {
    font-weight: normal;
}

.product-price {
    color: var(--text);
}

.product-card img {
    box-sizing: border-box;
    object-fit: contain;
    width: 100%;
}